spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/unifriends
    username: postgres
    password: your_db_password

  security:
    oauth2:
      client:
        registration:
            google:
                client-id: REPLACE_WITH_YOUR_GOOGLE_CLIENT_ID
                client-secret: REPLACE_WITH_YOUR_GOOGLE_CLIENT_SECRET

app:
  jwt:
    secret: REPLACE_WITH_BASE64_SECRET
  frontend-url: http://localhost:5173
  profanity:
    api-key: REPLACE_WITH_PROFANITY_API_KEY
  cors:
    allowed-origins: http://localhost:5173
  cookie:
    secure: false
